*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.content__details {
  max-height: 534px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list-container {
  height: 534px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:last-of-type {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.title .content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-title {
  color: white;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 400;
}

.more-button {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.search-form__fieldset {
  border: 0px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  flex-direction: row;
  cursor: pointer;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid white;
  border-bottom: 1px solid #ffffff;
  color: #fff;
  appearance: none;
  min-width: 225px;
  height: 25px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-size: 18px;
  font-weight: 400;
  font-family: Fira Sans Condensed;
  width: 225px;
  height: 27px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  width: 194px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.search-form__label:hover {
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.search-form__label:hover:has(input[type="text"]) {
  text-decoration: none;
}

.content__list-item:hover .content__video-card-title {
  text-decoration: underline solid white 2px;
  text-underline-offset: 4px;
}

.content__list-item:hover .content__video-card-description {
  text-decoration: underline solid white 1px;
  text-underline-offset: 4px;
}
